/* Google Font */

.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

/* Shered Style */

.container {
    max-width: 1440px;
}

.display-flex {
    display: flex;
}


.color-title {
    color: #E95A08;
}

.section-title {
    font-size: 3.125rem;
    font-weight: 700;
}

.section-description {
    font-family: "Inter", sans-serif;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

/* Navigation bar Style */
.logo-images {
    width: 100%;
    height: 100%;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-top: 20px;
    margin: 0 auto;
}

.nav-items {
    gap: 50px;
    list-style: none;
}

.nav-items a {
    text-decoration: none;
    color: black;
}

.nav-item {
    color: rgb(107, 114, 128);
}

/* Always Fresh Flower */

.banner_container {
    align-items: end;
    margin: 0 auto;
    padding-top: 100px;
}

.banner_left {
    width: 50%;
    flex: 1;
}

.banner_right {
    flex: 1;
}

.fresh-flower-dedcription {
    font-size: 1.375rem;
}

.banner_left_title {
    font-size: 4.0625rem;
}

.fresh-flower-images {
    width: 100%;
}

/* Our Plants */

.our_plants {
    margin-top: 100px;
}

.plant-title {
    text-align: center;
    margin-bottom: 10px;
}

.plant-description {
    text-align: center;
    width: 70%;
    margin-bottom: 40px;
}

/* card section */

.card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    margin: 0 auto;
}

.card_prent {
    text-align: center;
}

.plant-images {
    width: 100%;
}

.card-title {
    font-size: 1.375rem;
    font-weight: 500;
}

.plant-name {
    padding-bottom: 10px;
}

.btn-style {
    color: white;
    background-color: #E95A08;
    font-weight: 600;
    border: none;
    padding: 19px 80px;
    width: 100%;
}

/* Flower & Plants Lover */

.flowers_container {
    gap: 100px;
    align-items: center;
    margin-top: 200px;
}

.left-lover {
    width: 50%;
}

.right-lover {
    width: 50%;
}

.nature-love-images {
    width: 100%;
    position: relative;
}

.flowers_right_title {
    width: 70%;
    margin: -30px;
    margin-bottom: 10px;
}

.list-items li {
    padding: 10px 0;
}



#trusted-badge {
    width: 220px;
    margin-right: -500px;
    position: absolute;
    top: 1950px;
    left: 770px;
}

/* Latest Deals */
.deals-container {
    text-align: center;
    margin-top: 100px;
}

.desls-title {
    margin-bottom: 10px;
}

/* Latest Deals */

.collage-container {
    display: flex;
    margin: 70px 0;
    height: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.flower-bg-1 {
    background-image: url(../assets/deal-bloom.png);
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem;
    filter: brightness(80%);
}

.flower-bg-2 {
    background-image: url(../assets/deal-ana.png);
    width: 100%;
    height: 50%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.25rem;
    filter: brightness(70%);
}

.flower-bg-3 {
    background-image: url(../assets/zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    filter: brightness(80%);
}

.left-images {
    height: 100%;
    width: 35%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-images {
    height: 100%;
    width: 65%;
    padding: 12px;
}

.flower-bg-1 a {
    color: white;
    font-family: "Inter", sans-serif;
}

.flower-bg-2 a {
    color: white;
    font-family: "Inter", sans-serif;
}

.flower-bg-3 a {
    color: white;
    font-family: "Inter", sans-serif;
}

/* Join the colorful Bunch */

.colorful-bunch {
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.colorful-container h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.colorful-container input {
    padding: 15px 540px 14px 20px;
}

.colorful-container button {
    color: white;
    background-color: #E95A08;
    font-weight: 600;
    padding: 15px 50px;
    margin-left: -5px;
    border: none;
}


